/*
 * This file contains Ripple's CSS, that little that is needed for ripple's custom elements.
 */
.ripple.logo {
	padding-top: 4px;
}

body {
	width: 100vw;
	height: 100vh;
	color: #fff;
	background: url('prism.png');
}

.huge.heading {
	width: 100%;
	margin-bottom: 20px;
	position: relative;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	padding-top: 15%;
}
@media (max-width: 700px) {
	body {
		background: url("/static/images/page-light.png");
		-webkit-animation:  8s ease infinite;
		-moz-animation:  8s ease infinite;
		animation:  8s ease infinite;
	}
	.huge.heading h1 {
		font-size: 24pt;
		bottom: 10px;
		left: 20px;
	}
	.huge.heading.right h1 {
		left: auto;
		right: 40px;
	}
	div#navbar {
		display: flex;
		justify-content: center !important;
		width: 100%;
		background: rgba(0, 0, 0, 1);
		margin: auto 0;
		z-index: 999;
	}
}
@media (min-width: 700px) {
	.huge.heading h1 {
		font-size: 40pt;
		bottom: 15px;
		left: 40px;
	}
	.huge.heading.right h1 {
		right: 40px;
		left: auto;
	}
	div#navbar {
		width: 100%;
		border-radius: 30px;
		background: rgba(0, 0, 0, 0.5);
		margin: auto 0;
		position: fixed;
		height: 30px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		z-index: 999;
	}
}

.huge.heading {
	height: 100px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	display: flex;
	justify-content: center;
}

.huge.heading h1 {
	position: absolute;
	width: 95%;
        text-align: center;
	color: #f9f9f9;
	text-shadow: 0 2px 10px #000;
	margin-bottom: 0px;
	z-index: 997; /* getting bigger every year */
}


.main.wrapper {
	padding-bottom: 30px;
	background-attachment: fixed;
	background-size: cover;
}

img {
	max-width: 100%;
}

a.inherit {
	color: inherit;
	opacity: 0.9;
}
a.inherit:hover {
	opacity: 1;
}

.autopad {
	margin: 1rem 0;
}
.autopad:first-child {
	margin-top: 0;
}
.autopad:last-child {
	margin-bottom: 0;
}

.margined.container {
	margin: 1rem;
}

.main.wrapper {
	min-height: calc(100vh - 43px);
}

.footer {
	border-top: 1px solid #bbb;
	padding: 10px 20px;
	color: white;
	background-image: linear-gradient(180deg,rgba(0,0,0,.6) 0,transparent 4px);
	background-color: rgba(0,0,0,.6);
}

.top.right.icon {
	cursor: pointer;
	position: absolute;
	margin: 0;
	top: .78575em;
	right: .5em;
	opacity: .7;
	-webkit-transition: opacity .1s ease;
	transition: opacity .1s ease;
}

.ui.segment.chibi-card {
	width: 100%;
	height: auto;
	background: url("/static/chibi/bg.png") center center / cover no-repeat;
	transition: .3s;
}

.ui.segment.chibi-card:hover {
	box-shadow: 0 0 2px 0 yellow;
}

.chibi {
	width: 70%;
}

.ui.stackable.two.grid.chibi-grid {
	padding-left: 25px;
	padding-right: 25px;
}

p.chibi-text {
	font-size: 15px;
}

.chibi-1 {

}

.no.top.margin {
	margin-top: 0;
}
.no.bottom.margin {
	margin-bottom: 0;
}

.menu:not(.secondary) > .item.active {
	font-weight: bold;
}

.mode-container {
	margin: 1rem 0;
}

.youtube.video.container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}
.youtube.video.container iframe {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.smallpadd {
	margin: 0 .2em !important;
}

.status-head {
  padding:0;
  margin: 0;
  text-align: right; 
  font-size: 35px;
}
.status-footer {
  font-size: 20px;
  text-align: right;
}
.status-icon {
  font-size: 4em!important;
  padding-top: 30px;
}

.white.background {
	background-color: #FFF !important;
}
body.ds .white.background {
	background-color: #454545 !important;
}
body {
}
.triangles-1 {
}

.snow{
	background-image:
			url("/static/images/snow-1.png"),
			url("/static/images/snow-2.png"),
			url("/static/images/snow-3.png");
	animation: snow 30s linear infinite;
}
@keyframes snow {
	0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
	100% {background-position: 500px 1000px, 400px 400px, 300px 300px}
}

input#user-search-input {
	background: transparent;
	width: 150px !important;
	font-size: 12px;
	color: white;
}

.container-pd {
	padding-top: -19px;
	margin-top: -15px;
}
div#messages-container {
	padding-top: 5px;
}

.user.avatar {
	float: left;
	overflow: auto;
	padding-right: 10px;
	display: block;
	height: 80px;
}

.ui.attached.segment {
	margin: 0 auto !important;
}

.ui.attached.menu, .ui.attached.segment {
	width: 100%;
	max-width: 100%;
}

.table.element {
	display: table-cell;
	vertical-align: middle;
}
.table.element h1, .nopad {
	padding: 0 !important;
	margin: 0 !important;
}
.magic.table {
	overflow: auto;
	display: table;
	width: auto;
	display: inline-table;
	height: 80px;
}
.overflow.auto {
	overflow: auto;
}

.magic.table.floating.right {
	float: right;
}

.subtitle, .about.title {
	color: white;
}
.subtitle b {
	color: white;
}

/* ds = Dark Site */
body.ds .subtitle, body.ds .about.title {
	color: white;
}
body.ds .subtitle b {
	color: white;
}

.little.margin.top {
	margin-top: 8px;
}

.two.column.table td {
	width: 50%;
}

.centered {
	text-align: center;
}

.ui.secondary.inverted.main.menu {
	background-color: #1B1C1D;
}

.ui.inverted.input > input {
	background: #444;
	color: #FFF;
}
.ui.inverted.input > input::selection {
	background-color: rgba(255,255,255,.5);
}
.ui.inverted.input {
	color: #FFF;
}
.dropped {
	-webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,.21) !important;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,.21) !important;
}

.score-table th:not([colspan]):nth-child(2) {
	width: 15%;
}

#userpage-content {
	max-height: 500px;
	overflow: auto;
}

#profile-actions {
	text-align: right;
	padding-top: 2px;
}
#profile-actions button, .smalltext.button {
	font-size: .7rem;
}

.emoji {
	width: 1em;
}

.right.aligned { text-align: right; }
.left.aligned  { text-align: left; }

.clickable { cursor: pointer; }

/* thanks bootstrap */
code {
	padding: 2px 4px;
	font-size: 90%;
	color: #c7254e;
	background-color: #f9f2f4;
	border-radius: 4px;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.g-recaptcha > div {
	margin: 0 auto;
}

.big.text {
	font-size: 2rem;
}

.about.subtitle {
	margin-top: 10px;
	font-size: 1.35rem;
}

.about.title {
	margin-top: 15px;
	font-size: 1.5rem;
}

.nopadding.segment {
	padding: 0;
}

@media (min-width: 768px) {
	.firetrucking-right-menu {
		margin-left: auto!important;
		display: flex;
		display: -ms-flexbox;
		-ms-flex-align: inherit;
		align-items: inherit;
		-ms-flex-direction: inherit;
		flex-direction: inherit;
	}
}

.firetrucking-right-menu .item {
	margin-left: 0;
}

.score.rank {
	height: 1.2rem;
}

/* quick dirty partially-working menu fixes for mobile */
@media (max-width: 911px) {
	#navbar .item {
		margin: 0 !important;
	}
	#navbar {
		margin-left: 0;
		margin-right: 0;
	}
}

.tiny.container {
	margin: 0 auto;
}
@media (max-width: 720px) {
	.tiny.container {
		width: auto;
	}
}
@media (min-width: 720px) {
	.tiny.container {
		width: 720px;
	}
}

.ui.form .error.message, .ui.form .success.message, .ui.form .warning.message {
	display: block !important;
}

textarea.monospace {
	height: 320px;
	font-family: "Consolas", monospace;
}

.segment[hidden] {
	display: none !important;
}

.compact-container {
	font-size: 0;
    line-height: 0;
}

#userpage-content {
	-webkit-transition: all 500ms;
	transition: all 500ms;
}

/* FUCK INTERNET EXPLORER */
input[type="submit"].ie {
	height: 0;
	width: 0;
	font-size: 0;
	border: 0;
	padding: 0;
	margin: 0;
	/* Don't ask. Simply don't. I just tried random display values and this was what worked best */
	display: flex;
}

/* A camouflaged link looks like normal text but it isn't. */
a.camouflaged {
	color: inherit;
}

a.camouflaged:hover {
	text-decoration: underline;
}

.avatar-cell {
	width: 90px;
}
.avatar-cell > img {
	margin: 0 auto;
}



.owner
{
    color: SpringGreen;
    text-shadow:
    -1px -1px 0 #006400,
    1px -1px 0 #006400,
    -1px 1px 0 #006400,
    1px 1px 0 #006400;
    
}

.dev
{
    color: DodgerBlue;
    text-shadow:
    -1px -1px 0 #104e8b,
    1px -1px 0 #104e8b,
    -1px 1px 0 #104e8b,
    1px 1px 0 #104e8b;
    
}

img.achievement {
 -webkit-filter:drop-shadow(0 5px 5px #777);
 filter:drop-shadow(0 5px 5px #777)
}
img.locked-achievement {
 -webkit-filter:brightness(0) drop-shadow(0 5px 5px #777);
 filter:brightness(0) drop-shadow(0 5px 5px #777);
 -webkit-transition:all 500ms;
 -moz-transition:all 500ms;
 -ms-transition:all 500ms;
 -o-transition:all 500ms;
 transition:all 500ms
}


#snow-container {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
}


#snow-container>div:first-child, .snow {
	z-index: 100;
	pointer-events: none;
}

#snow-container>div:first-child {
	overflow: hidden;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	max-width: 100%;
}

.snow {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-animation: falling linear infinite both;
	animation: falling linear infinite both;
	-webkit-transform: translate3D(0, -100%, 0);
	transform: translate3D(0, -100%, 0);
}

.snow.large {
	-webkit-animation-duration: 10s;
	animation-duration: 10s;
	background-image: url("/static/images/large.png");
	background-size: auto;
}

.snow.large + .delayed {
	-webkit-animation-delay: -5s;
	animation-delay: -5s;
}

.snow.medium {
	-webkit-animation-duration: 20s;
	animation-duration: 20s;
	background-image: url("./medium.png");
	background-size: contain;
}

.snow.medium + .delayed {
	-webkit-animation-delay: -10s;
	animation-delay: -10s;
}

.snow.small {
	-webkit-animation-duration: 30s;
	animation-duration: 30s;
	background-image: url("./small.png");
	background-size: auto;
}

.snow.small + .delayed {
	-webkit-animation-delay: -15s;
	animation-delay: -15s;
}

@-webkit-keyframes falling {
	0% {
		-webkit-transform: translate3D(-7.5%, -100%, 0);
		transform: translate3D(-7.5%, -100%, 0);
		opacity: 0;
	}
	10% {
		-webkit-transform: translate3D(-7.5%, -100%, 0);
		transform: translate3D(-7.5%, -100%, 0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translate3D(7.5%, 100%, 0);
		transform: translate3D(7.5%, 100%, 0);
	}
}

@keyframes falling {
	0% {
		-webkit-transform: translate3D(-7.5%, -100%, 0);
		transform: translate3D(-7.5%, -100%, 0);
		opacity: 0;
	}
	10% {
		-webkit-transform: translate3D(-7.5%, -100%, 0);
		transform: translate3D(-7.5%, -100%, 0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translate3D(7.5%, 100%, 0);
		transform: translate3D(7.5%, 100%, 0);
	}
}

