body {
	background-image: url("/static/images/triangles-combined@2x.png");
	background-color: hsl(255, 30%, 12%);
}

.ui.segment.chibi-card {
	width: 100%;
	height: auto;
	background: url("/static/chibi/bg.png") center center / cover no-repeat;
	transition: .3s;
}

.bgf {
	font-size: 40px;
}

.ui.segment.chibi-card:hover {
	box-shadow: 0 0 2px 0 yellow;
}

.chibi {
	width: 70%;
}

.ui.stackable.two.grid.chibi-grid {
	padding-left: 25px;
	padding-right: 25px;
}

p.chibi-text {
	font-size: 15px;
}

.kr-primary {
	padding-top: 58px;
}

.full-height {
	height: 100%!important;
}

#user-search-input {
	background: #fff;
}

.kr-or:before {
	line-height: 23px!important;
}

.status-head {
  padding:0;
  margin: 0;
  text-align: right; 
  font-size: 35px;
}
.status-footer {
  font-size: 20px;
  text-align: right;
}
.status-icon {
  font-size: 4em!important;
  padding-top: 30px;
}

#navbar {
	background: linear-gradient(to right, #aa1a4d 0%,#c32c74 100%);
	box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.11);
}

.addition {
	padding-top: 58px;
}

.kr-prompt {
	color: gray!important;
}

/*
 * This file contains Ripple's CSS, that little that is needed for ripple's custom elements.
 */
.kurikku-head {
	padding: 0!important;
}

.kurikku-logo {
	width: 50px!important;
}

.huge.heading {
	width: 100%;
	margin-bottom: 20px;
	position: relative;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
}
@media (max-width: 700px) {
	.huge.heading {
		height: 100px;
	}
	.huge.heading h1 {
		font-size: 24pt;
		bottom: 10px;
		left: 20px;
	}
	.huge.heading.right h1 {
		left: auto;
		right: 40px;
	}
}
@media (min-width: 700px) {
	.huge.heading {
		height: 210px;
	}
	.huge.heading h1 {
		font-size: 40pt;
		bottom: 15px;
		left: 40px;
	}
	.huge.heading.right h1 {
		right: 40px;
		left: auto;
	}
}

.huge.heading h1 {
		color: #f9f9f9;
		text-shadow: 0 2px 10px #000;
		margin-bottom: 0px;
		z-index: 1000001;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
}


.main.wrapper {
	padding-bottom: 30px;
	background-attachment: fixed;
	background-size: cover;
}

img {
	max-width: 100%;
}

a.inherit {
	color: inherit;
	opacity: 0.9;
}
a.inherit:hover {
	opacity: 1;
}

.autopad {
	margin: 1rem 0;
}
.autopad:first-child {
	margin-top: 0;
}
.autopad:last-child {
	margin-bottom: 0;
}

.margined.container {
	margin: 1rem;
}

.main.wrapper {
	min-height: calc(100vh - 43px);
}

.footer {
	text-shadow: 0 1px 3px rgba(0,0,0,.75);
	background-color: rgba(0,0,0,.6);
	background-image: linear-gradient(180deg,rgba(0,0,0,.6) 0,transparent 4px);
	color: #ccc;
	font-size: 12px;
	font-weight: 600;
	display: flex;
	flex-direction: column;
	flex: none;
	padding: 12px;
}

.top.right.icon {
	cursor: pointer;
	position: absolute;
	margin: 0;
	top: .78575em;
	right: .5em;
	opacity: .7;
	-webkit-transition: opacity .1s ease;
	transition: opacity .1s ease;
}
.no.top.margin {
	margin-top: 0;
}
.no.bottom.margin {
	margin-bottom: 0;
}

.menu:not(.secondary) > .item.active {
	font-weight: bold;
}

.mode-container {
	margin: 1rem 0;
}

.youtube.video.container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}
.youtube.video.container iframe {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.smallpadd {
	margin: 0 .2em !important;
}

.white.background {
	background-color: #FFF !important;
}
body.ds .white.background {
	background-color: #454545 !important;
}

.user.avatar {
	float: left;
	overflow: auto;
	padding-right: 10px;
	display: block;
	height: 80px;
}

.ui.attached.segment {
	margin: 0 auto !important;
}

.ui.attached.menu, .ui.attached.segment {
	width: 100%;
	max-width: 100%;
}

.table.element {
	display: table-cell;
	vertical-align: middle;
}
.table.element h1, .nopad {
	padding: 0 !important;
	margin: 0 !important;
}
.magic.table {
	overflow: auto;
	display: table;
	width: auto;
	display: inline-table;
	height: 80px;
}
.overflow.auto {
	overflow: auto;
}

.magic.table.floating.right {
	float: right;
}

.subtitle, .about.title {
	color: rgba(255,255,255,.6);
}
.subtitle b {
	color: rgba(255,255,255,.87);
}

/* ds = Dark Site */
body.ds .subtitle, body.ds .about.title {
	color: rgba(255,255,255,.8);
}
body.ds .subtitle b {
	color: rgba(255,255,255,.94);
}

.little.margin.top {
	margin-top: 8px;
}

.two.column.table td {
	width: 50%;
}

.centered {
	text-align: center;
}

.ui.secondary.inverted.main.menu {
	background-color: #1B1C1D;
}

.ui.inverted.input > input {
	background: #444;
	color: #FFF;
}
.ui.inverted.input > input::selection {
	background-color: rgba(255,255,255,.5);
}
.ui.inverted.input {
	color: #FFF;
}
.dropped {
	-webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,.21) !important;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,.21) !important;
}

.score-table th:not([colspan]):nth-child(2) {
	width: 15%;
}

#userpage-content {
	max-height: 500px;
	overflow: auto;
}

#profile-actions {
	text-align: center;
	padding-top: 2px;
}
#profile-actions button, .smalltext.button {
	font-size: .7rem;
}

.emoji {
	width: 1em;
}

.right.aligned { text-align: right; }
.left.aligned  { text-align: left; }

.clickable { cursor: pointer; }

/* thanks bootstrap */
code {
	padding: 2px 4px;
	font-size: 90%;
	color: #c7254e;
	background-color: #f9f2f4;
	border-radius: 4px;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.g-recaptcha > div {
	margin: 0 auto;
}

.big.text {
	font-size: 2rem;
}

.about.subtitle {
	margin-top: 10px;
	font-size: 1.35rem;
}

.about.title {
	margin-top: 15px;
	font-size: 1.5rem;
}

.nopadding.segment {
	padding: 0;
}

@media (min-width: 768px) {
	.firetrucking-right-menu {
		margin-left: auto!important;
		display: flex;
		display: -ms-flexbox;
		-ms-flex-align: inherit;
		align-items: inherit;
		-ms-flex-direction: inherit;
		flex-direction: inherit;
	}
}

.firetrucking-right-menu .item {
	margin-left: 0;
}

.score.rank {
	height: 1.2rem;
}

/* quick dirty partially-working menu fixes for mobile */
@media (max-width: 911px) {
	#navbar .item {
		margin: 0 !important;
	}
	#navbar {
		margin-left: 0;
		margin-right: 0;
	}
}

.tiny.container {
	margin: 0 auto;
}
@media (max-width: 720px) {
	.tiny.container {
		width: auto;
	}
}
@media (min-width: 720px) {
	.tiny.container {
		width: 720px;
	}
}

.ui.form .error.message, .ui.form .success.message, .ui.form .warning.message {
	display: block !important;
}

textarea.monospace {
	height: 320px;
	font-family: "Consolas", monospace;
}

.segment[hidden] {
	display: none !important;
}

.compact-container {
	font-size: 0;
    line-height: 0;
}

#userpage-content {
	-webkit-transition: all 500ms;
	transition: all 500ms;
}

/* FUCK INTERNET EXPLORER */
input[type="submit"].ie {
	height: 0;
	width: 0;
	font-size: 0;
	border: 0;
	padding: 0;
	margin: 0;
	/* Don't ask. Simply don't. I just tried random display values and this was what worked best */
	display: flex;
}

/* A camouflaged link looks like normal text but it isn't. */
a.camouflaged {
	color: inherit;
}

a.camouflaged:hover {
	text-decoration: underline;
}

.avatar-cell {
	width: 90px;
}
.avatar-cell > img {
	margin: 0 auto;
}


.owner {
  
  font-size:40px;
  
  -webkit-animation: rainbow 2s infinite; 
  -ms-animation: rainbow 2s infinite; 
  animation: rainbow 2s infinite; 
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
  0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
  30%{color: CadetBlue;}
	40%{color: yellow;}
  50%{color: coral;}
	60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
	100%{color: orange;}
}

/* Internet Explorer */
@-ms-keyframes rainbow{
  0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
  30%{color: CadetBlue;}
	40%{color: yellow;}
  50%{color: coral;}
	60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
	100%{color: orange;}
}

/* Standar Syntax */
@keyframes rainbow{
  0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
  30%{color: CadetBlue;}
	40%{color: yellow;}
  50%{color: coral;}
	60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
	100%{color: orange;}
}


.dev
{
    color: DodgerBlue;
    text-shadow:
    -1px -1px 0 #104e8b,
    1px -1px 0 #104e8b,
    -1px 1px 0 #104e8b,
    1px 1px 0 #104e8b;
    
}


.admin
{
	color: red;
	text-shadow: -1px -1px 0 #0033CC;
}


.premium
{
	color: yellow;
	text-shadow: -1px -1px 0 #0033CC;
}

img.achievement {
	-webkit-filter: drop-shadow(0 5px 5px #777);
	filter: drop-shadow(0 5px 5px #777);
}
img.locked-achievement {
	-webkit-filter: brightness(0) drop-shadow(0 5px 5px #777);
	filter: brightness(0) drop-shadow(0 5px 5px #777);
	-webkit-transition: all 500ms ;
    -moz-transition: all 500ms ;
    -ms-transition: all 500ms ;
    -o-transition: all 500ms ;
    transition: all 500ms ;
}
img.locked-achievement:hover {
	filter: gray; /* IE6-9 */
	-webkit-filter: brightness(0.5) drop-shadow(0 5px 5px #777);
	filter: brightness(0.5) drop-shadow(0 5px 5px #777);
}
#progress {
	position: fixed;
	z-index: 2147483647;
	top: 0;
	left: -6px;
	width: 0%;
	height: 2px;
	background: #b91f1f;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	-moz-transition: width 500ms ease-out,opacity 400ms linear;
	-ms-transition: width 500ms ease-out,opacity 400ms linear;
	-o-transition: width 500ms ease-out,opacity 400ms linear;
	-webkit-transition: width 500ms ease-out,opacity 400ms linear;
	transition: width 500ms ease-out,opacity 400ms linear
	}
	#progress.done {
	opacity: 0
	}
	#progress dd,#progress dt {
	position: absolute;
	top: 0;
	height: 2px;
	-moz-box-shadow: #b91f1f 1px 0 6px 1px;
	-ms-box-shadow: #b91f1f 1px 0 6px 1px;
	-webkit-box-shadow: #b91f1f 1px 0 6px 1px;
	box-shadow: #b91f1f 1px 0 6px 1px;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%
	}
	#progress dd {
	opacity: 1;
	width: 20px;
	right: 0;
	clip: rect(-6px,22px,14px,10px)
	}
	#progress dt {
	opacity: 1;
	width: 180px;
	right: -80px;
	clip: rect(-6px,90px,14px,-6px)
	}
	@-moz-keyframes pulse {
	30% {
	opacity: 1
	}
	60% {
	opacity: 0
	}
	100% {
	opacity: 1
	}
	}
	@-ms-keyframes pulse {
	30% {
	opacity: .6
	}
	60% {
	opacity: 0
	}
	100% {
	opacity: .6
	}
	}
	@-o-keyframes pulse {
	30% {
	opacity: 1
	}
	60% {
	opacity: 0
	}
	100% {
	opacity: 1
	}
	}
	@-webkit-keyframes pulse {
	30% {
	opacity: .6
	}
	60% {
	opacity: 0
	}
	100% {
	opacity: .6
	}
	}
	@keyframes pulse {
	30% {
	opacity: 1
	}
	60% {
	opacity: 0
	}
	100% {
	opacity: 1
	}
	}
	#progress.waiting dd,#progress.waiting dt {
	-moz-animation: pulse 2s ease-out 0s infinite;
	-ms-animation: pulse 2s ease-out 0s infinite;
	-o-animation: pulse 2s ease-out 0s infinite;
	-webkit-animation: pulse 2s ease-out 0s infinite;
	animation: pulse 2s ease-out 0s infinite
	}


	/* nvd3 version 1.8.1 (https://github.com/novus/nvd3) 2015-06-15 */
.nvd3 .nv-axis {
	pointer-events:none;
	opacity: 1;
}

.nvd3 .nv-axis path {
	fill: none;
	stroke: #fff;
	stroke-opacity: .75;
	shape-rendering: crispEdges;
}

.nvd3 .nv-axis path.domain {
	stroke-opacity: .75;
}

.nvd3 .nv-axis.nv-x path.domain {
	stroke-opacity: 0;
}

.nvd3 .nv-axis line {
	fill: none;
	stroke: #e5e5e5;
	shape-rendering: crispEdges;
}

.nvd3 .nv-axis .zero line,
	/*this selector may not be necessary*/ .nvd3 .nv-axis line.zero {
	stroke-opacity: .75;
}

.nvd3 .nv-axis .nv-axisMaxMin text {
	font-weight: bold;
}

.nvd3 .x  .nv-axis .nv-axisMaxMin text,
.nvd3 .x2 .nv-axis .nv-axisMaxMin text,
.nvd3 .x3 .nv-axis .nv-axisMaxMin text {
	text-anchor: middle
}

.nvd3 .nv-axis.nv-disabled {
	opacity: 0;
}

.nvd3 .nv-bars rect {
	fill-opacity: .75;

	transition: fill-opacity 250ms linear;
	-moz-transition: fill-opacity 250ms linear;
	-webkit-transition: fill-opacity 250ms linear;
}

.nvd3 .nv-bars rect.hover {
	fill-opacity: 1;
}

.nvd3 .nv-bars .hover rect {
	fill: lightblue;
}

.nvd3 .nv-bars text {
	fill: rgba(0,0,0,0);
}

.nvd3 .nv-bars .hover text {
	fill: rgba(0,0,0,1);
}

.nvd3 .nv-multibar .nv-groups rect,
.nvd3 .nv-multibarHorizontal .nv-groups rect,
.nvd3 .nv-discretebar .nv-groups rect {
	stroke-opacity: 0;

	transition: fill-opacity 250ms linear;
	-moz-transition: fill-opacity 250ms linear;
	-webkit-transition: fill-opacity 250ms linear;
}

.nvd3 .nv-multibar .nv-groups rect:hover,
.nvd3 .nv-multibarHorizontal .nv-groups rect:hover,
.nvd3 .nv-candlestickBar .nv-ticks rect:hover,
.nvd3 .nv-discretebar .nv-groups rect:hover {
	fill-opacity: 1;
}

.nvd3 .nv-discretebar .nv-groups text,
.nvd3 .nv-multibarHorizontal .nv-groups text {
	font-weight: bold;
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,0);
}

/* boxplot CSS */
.nvd3 .nv-boxplot circle {
fill-opacity: 0.5;
}

.nvd3 .nv-boxplot circle:hover {
fill-opacity: 1;
}

.nvd3 .nv-boxplot rect:hover {
fill-opacity: 1;
}

.nvd3 line.nv-boxplot-median {
stroke: black;
}

.nv-boxplot-tick:hover {
stroke-width: 2.5px;
}
/* bullet */
.nvd3.nv-bullet { font: 10px sans-serif; }
.nvd3.nv-bullet .nv-measure { fill-opacity: .8; }
.nvd3.nv-bullet .nv-measure:hover { fill-opacity: 1; }
.nvd3.nv-bullet .nv-marker { stroke: #fff; stroke-width: 2px; }
.nvd3.nv-bullet .nv-markerTriangle { stroke: #fff; fill: #fff; stroke-width: 1.5px; }
.nvd3.nv-bullet .nv-tick line { stroke: #666; stroke-width: .5px; }
.nvd3.nv-bullet .nv-range.nv-s0 { fill: #eee; }
.nvd3.nv-bullet .nv-range.nv-s1 { fill: #ddd; }
.nvd3.nv-bullet .nv-range.nv-s2 { fill: #ccc; }
.nvd3.nv-bullet .nv-title { font-size: 14px; font-weight: bold; }
.nvd3.nv-bullet .nv-subtitle { fill: #999; }


.nvd3.nv-bullet .nv-range {
	fill: #bababa;
	fill-opacity: .4;
}
.nvd3.nv-bullet .nv-range:hover {
	fill-opacity: .7;
}

.nvd3.nv-candlestickBar .nv-ticks .nv-tick {
	stroke-width: 1px;
}

.nvd3.nv-candlestickBar .nv-ticks .nv-tick.hover {
	stroke-width: 2px;
}

.nvd3.nv-candlestickBar .nv-ticks .nv-tick.positive rect {
	stroke: #2ca02c;
	fill: #2ca02c;
}

.nvd3.nv-candlestickBar .nv-ticks .nv-tick.negative rect {
	stroke: #d62728;
	fill: #d62728;
}

.with-transitions .nv-candlestickBar .nv-ticks .nv-tick {
	transition: stroke-width 250ms linear, stroke-opacity 250ms linear;
	-moz-transition: stroke-width 250ms linear, stroke-opacity 250ms linear;
	-webkit-transition: stroke-width 250ms linear, stroke-opacity 250ms linear;

}

.nvd3.nv-candlestickBar .nv-ticks line {
	stroke: #333;
}


.nvd3 .nv-legend .nv-disabled rect {
	/*fill-opacity: 0;*/
}

.nvd3 .nv-check-box .nv-box {
	fill-opacity:0;
	stroke-width:2;
}

.nvd3 .nv-check-box .nv-check {
	fill-opacity:0;
	stroke-width:4;
}

.nvd3 .nv-series.nv-disabled .nv-check-box .nv-check {
	fill-opacity:0;
	stroke-opacity:0;
}

.nvd3 .nv-controlsWrap .nv-legend .nv-check-box .nv-check {
	opacity: 0;
}

/* line plus bar */
.nvd3.nv-linePlusBar .nv-bar rect {
	fill-opacity: .75;
}

.nvd3.nv-linePlusBar .nv-bar rect:hover {
	fill-opacity: 1;
}
.nvd3 .nv-groups path.nv-line {
	fill: none;
  stroke-width: 5px;
  stroke-linecap: round;
}

.nvd3 .nv-groups path.nv-area {
	stroke: none;
}

.nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point {
	fill-opacity: 0;
	stroke-opacity: 0;
}

.nvd3.nv-scatter.nv-single-point .nv-groups .nv-point {
	fill-opacity: .5 !important;
	stroke-opacity: .5 !important;
}


.with-transitions .nvd3 .nv-groups .nv-point {
	transition: stroke-width 250ms linear, stroke-opacity 250ms linear;
	-moz-transition: stroke-width 250ms linear, stroke-opacity 250ms linear;
	-webkit-transition: stroke-width 250ms linear, stroke-opacity 250ms linear;

}

.nvd3.nv-scatter .nv-groups .nv-point.hover,
.nvd3 .nv-groups .nv-point.hover {
	stroke-width: 7px;
	fill-opacity: .95 !important;
	stroke-opacity: .95 !important;
}


.nvd3 .nv-point-paths path {
	stroke: #aaa;
	stroke-opacity: 0;
	fill: #eee;
	fill-opacity: 0;
}



.nvd3 .nv-indexLine {
	cursor: ew-resize;
}

/********************
* SVG CSS
*/

/********************
Default CSS for an svg element nvd3 used
*/
svg.nvd3-svg {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	user-select: none;
	display: block;
	width:100%;
	height:100%;
}

/********************
Box shadow and border radius styling
*/
.nvtooltip.with-3d-shadow, .with-3d-shadow .nvtooltip {
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	box-shadow: 0 5px 10px rgba(0,0,0,.2);

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


.nvd3 text {
	font: normal 12px Arial;
}

.nvd3 .title {
	font: bold 14px Arial;
}

.nvd3 .nv-background {
	fill: white;
	fill-opacity: 0;
}

.nvd3.nv-noData {
	fill: #fff;
	font-size: 18px;
	font-weight: bold;
}


/**********
*  Brush
*/

.nv-brush .extent {
	fill-opacity: .125;
	shape-rendering: crispEdges;
}

.nv-brush .resize path {
	fill: #eee;
	stroke: #666;
}


/**********
*  Legend
*/

.nvd3 .nv-legend .nv-series {
	cursor: pointer;
}

.nvd3 .nv-legend .nv-disabled circle {
	fill-opacity: 0;
}

/* focus */
.nvd3 .nv-brush .extent {
	fill-opacity: 0 !important;
}

.nvd3 .nv-brushBackground rect {
	stroke: #fff;
	stroke-width: .4;
	fill: #fff;
	fill-opacity: .7;
}


.nvd3.nv-ohlcBar .nv-ticks .nv-tick {
	stroke-width: 1px;
}

.nvd3.nv-ohlcBar .nv-ticks .nv-tick.hover {
	stroke-width: 2px;
}

.nvd3.nv-ohlcBar .nv-ticks .nv-tick.positive {
	stroke: #2ca02c;
}

.nvd3.nv-ohlcBar .nv-ticks .nv-tick.negative {
	stroke: #d62728;
}


.nvd3 .background path {
	fill: none;
	stroke: #EEE;
	stroke-opacity: .4;
	shape-rendering: crispEdges;
}

.nvd3 .foreground path {
	fill: none;
	stroke-opacity: .7;
}

.nvd3 .nv-parallelCoordinates-brush .extent 
{
	fill: #fff;
	fill-opacity: .6;
	stroke: gray;
	shape-rendering: crispEdges;
}

.nvd3 .nv-parallelCoordinates .hover  {
	fill-opacity: 1;
stroke-width: 3px;
}


.nvd3 .missingValuesline line {
fill: none;
stroke: black;
stroke-width: 1;
stroke-opacity: 1;
stroke-dasharray: 5, 5; 
}
.nvd3.nv-pie path {
	stroke-opacity: 0;
	transition: fill-opacity 250ms linear, stroke-width 250ms linear, stroke-opacity 250ms linear;
	-moz-transition: fill-opacity 250ms linear, stroke-width 250ms linear, stroke-opacity 250ms linear;
	-webkit-transition: fill-opacity 250ms linear, stroke-width 250ms linear, stroke-opacity 250ms linear;

}

.nvd3.nv-pie .nv-pie-title {
	font-size: 24px;
	fill: rgba(19, 196, 249, 0.59);
}

.nvd3.nv-pie .nv-slice text {
	stroke: #fff;
	stroke-width: 0;
}

.nvd3.nv-pie path {
	stroke: #fff;
	stroke-width: 1px;
	stroke-opacity: 1;
}

.nvd3.nv-pie .hover path {
	fill-opacity: .7;
}
.nvd3.nv-pie .nv-label {
	pointer-events: none;
}
.nvd3.nv-pie .nv-label rect {
	fill-opacity: 0;
	stroke-opacity: 0;
}

/* scatter */
.nvd3 .nv-groups .nv-point.hover {
	stroke-width: 20px;
	stroke-opacity: .5;
}

.nvd3 .nv-scatter .nv-point.hover {
	fill-opacity: 1;
}
.nv-noninteractive {
	pointer-events: none;
}

.nv-distx, .nv-disty {
	pointer-events: none;
}

/* sparkline */
.nvd3.nv-sparkline path {
	fill: none;
}

.nvd3.nv-sparklineplus g.nv-hoverValue {
	pointer-events: none;
}

.nvd3.nv-sparklineplus .nv-hoverValue line {
	stroke: #333;
	stroke-width: 1.5px;
}

.nvd3.nv-sparklineplus,
.nvd3.nv-sparklineplus g {
	pointer-events: all;
}

.nvd3 .nv-hoverArea {
	fill-opacity: 0;
	stroke-opacity: 0;
}

.nvd3.nv-sparklineplus .nv-xValue,
.nvd3.nv-sparklineplus .nv-yValue {
	stroke-width: 0;
	font-size: .9em;
	font-weight: normal;
}

.nvd3.nv-sparklineplus .nv-yValue {
	stroke: #f66;
}

.nvd3.nv-sparklineplus .nv-maxValue {
	stroke: #2ca02c;
	fill: #2ca02c;
}

.nvd3.nv-sparklineplus .nv-minValue {
	stroke: #d62728;
	fill: #d62728;
}

.nvd3.nv-sparklineplus .nv-currentValue {
	font-weight: bold;
	font-size: 1.1em;
}
/* stacked area */
.nvd3.nv-stackedarea path.nv-area {
	fill-opacity: .7;
	stroke-opacity: 0;
	transition: fill-opacity 250ms linear, stroke-opacity 250ms linear;
	-moz-transition: fill-opacity 250ms linear, stroke-opacity 250ms linear;
	-webkit-transition: fill-opacity 250ms linear, stroke-opacity 250ms linear;
}

.nvd3.nv-stackedarea path.nv-area.hover {
	fill-opacity: .9;
}


.nvd3.nv-stackedarea .nv-groups .nv-point {
	stroke-opacity: 0;
	fill-opacity: 0;
}


.nvtooltip {
	position: absolute;
	background-color: rgba(255,255,255,1.0);
	color: rgba(0,0,0,1.0);
	padding: 1px;
	border: 1px solid rgba(0,0,0,.2);
	z-index: 10000;
	display: block;

	font-family: Arial;
	font-size: 13px;
	text-align: left;
	pointer-events: none;

	white-space: nowrap;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.nvtooltip {
	background: #fff;
	border: 1px solid rgba(0,0,0,0.5);
	border-radius: 4px;
}

/*Give tooltips that old fade in transition by
	putting a "with-transitions" class on the container div.
*/
.nvtooltip.with-transitions, .with-transitions .nvtooltip {
	transition: opacity 50ms linear;
	-moz-transition: opacity 50ms linear;
	-webkit-transition: opacity 50ms linear;

	transition-delay: 200ms;
	-moz-transition-delay: 200ms;
	-webkit-transition-delay: 200ms;
}

.nvtooltip.x-nvtooltip,
.nvtooltip.y-nvtooltip {
	padding: 8px;
}

.nvtooltip h3 {
	margin: 0;
	padding: 4px 14px;
	line-height: 18px;
	font-weight: normal;
	background-color: rgba(247,247,247,0.75);
	color: rgba(0,0,0,1.0);
	text-align: center;

	border-bottom: 1px solid #ebebeb;

	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

.nvtooltip p {
	margin: 0;
	padding: 5px 14px;
	text-align: center;
}

.nvtooltip span {
	display: inline-block;
	margin: 2px 0;
}

.nvtooltip table {
	margin: 6px;
	border-spacing:0;
}


.nvtooltip table td {
	padding: 2px 9px 2px 0;
	vertical-align: middle;
}

.nvtooltip table td.key {
	font-weight:normal;
}
.nvtooltip table td.value {
	text-align: right;
	font-weight: bold;
}

.nvtooltip table tr.highlight td {
	padding: 1px 9px 1px 0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
}

.nvtooltip table td.legend-color-guide div {
	width: 8px;
	height: 8px;
	vertical-align: middle;
}

.nvtooltip table td.legend-color-guide div {
	width: 12px;
	height: 12px;
	border: 1px solid #999;
}

.nvtooltip .footer {
	padding: 3px;
	text-align: center;
}

.nvtooltip-pending-removal {
	pointer-events: none;
	display: none;
}


/****
Interactive Layer
*/
.nvd3 .nv-interactiveGuideLine {
	pointer-events:none;
}
.nvd3 line.nv-guideline {
	stroke: #ccc;
}

.nv-legend-text, .nv-axislabel, .nv-axisMaxMin, .nv-axisMaxMin-y, .nv-axisMin-y {
	fill: #fff;
}

g > text {
	fill: #fff!important;
}

.nv-axis path {
	stroke: #fff;
}

.kr.score-info {
	margin: -15px -15px 15px -15px;
	height: 240px;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-size: cover;
}

.kr.score-info > a {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	font-size: 30px;
	text-shadow: 0 2px 10px #000;
	text-align: center;
	color: white;
}

.icon-score {
	width: 64px;
	height: 64px;
	max-width: none;
}

.score-info-grid {
	align-items: center!important;
}

.status-head-score {
	padding: 0;    
	font-size: 20px;
	margin: 0;
	text-align: center;
}

.status-footer-score {
	font-size: 20px;
    text-align: center;
}

.scores-table {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
	justify-content: left;
	margin-top: 12px;
}

.scores-table-left img {
    width: 34px;
	height: 34px!important;
	margin-right: 8px;
}

.text-kr-center {
    text-align: center!important;
}

.saccount {
	width: 100%;
	margin-bottom: 5px!important;
}

.snow {
	background-image:
			url("/static/images/snow-1.png"),
			url("/static/images/snow-2.png"),
			url("/static/images/snow-3.png");
	animation: snow 30s linear infinite;
}

@keyframes snow {
	0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
	100% {background-position: 500px 1000px, 400px 400px, 300px 300px}
}

#snow-container {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
}


#snow-container>div:first-child, .snow {
	z-index: 100;
	pointer-events: none;
}

#snow-container>div:first-child {
	overflow: hidden;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	max-width: 100%;
}

.snow {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-animation: falling linear infinite both;
	animation: falling linear infinite both;
	-webkit-transform: translate3D(0, -100%, 0);
	transform: translate3D(0, -100%, 0);
}

.snow.large {
	-webkit-animation-duration: 14s;
	animation-duration: 14s;
	background-image: url("/static/images/large-new.png");
	background-size: auto;
}

.snow.large + .delayed {
	-webkit-animation-delay: -6s;
	animation-delay: -6s;
}

@-webkit-keyframes falling {
	0% {
		-webkit-transform: translate3D(-7.5%, -100%, 0);
		transform: translate3D(-7.5%, -100%, 0);
		opacity: 0;
	}
	10% {
		-webkit-transform: translate3D(-7.5%, -100%, 0);
		transform: translate3D(-7.5%, -100%, 0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translate3D(7.5%, 100%, 0);
		transform: translate3D(7.5%, 100%, 0);
	}
}

@keyframes falling {
	0% {
		-webkit-transform: translate3D(-7.5%, -100%, 0);
		transform: translate3D(-7.5%, -100%, 0);
		opacity: 0;
	}
	10% {
		-webkit-transform: translate3D(-7.5%, -100%, 0);
		transform: translate3D(-7.5%, -100%, 0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translate3D(7.5%, 100%, 0);
		transform: translate3D(7.5%, 100%, 0);
	}
}

.kr-flag {
	width: 25px!important;
	margin-right: 5px!important;
	vertical-align: -1px!important;
}

.magic.table {
	width: 100%!important;
	height: 100%!important;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.table-owner {
	text-align: right;
}

@media only screen and (max-width: 544px) {	
	.table-owner img {
		padding-right: 15px!important;
		padding-left: 0px!important;
	}

	.table-owner  {
		padding-top: 10px;
		display: flex!important;
		flex-direction: row-reverse!important;
		text-align: left;
	}
}

.Team--container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex: 0 1 100%;
	flex-wrap: wrap;
}
.Team--element {
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	align-self: center;
	margin: 0!important;
}
.Team--left {
	display: flex;
	flex-direction: row;
	flex: 0 1 50vh;
}

.Team--left > img {
	width: 50px;
	height: 50px;
	margin-right: 10px;
	border-radius: 5px;
}

.Team--left-info {
	min-width: 200px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}
.Team--left-info > div {
	display: flex;
	width: 100%;

}
.Team--left-info img {
	width: 34px!important;
}
.Team--left-info > div p {
	font-weight: 600;
	font-size: 17px;
}
@media (max-width: 394px) {
	.Team--element {
		justify-content: center!important;
		flex-wrap: wrap!important;
	}
}