{{ define "base" }}
{{ $cf := .ClientFlags }}
{{ $ds := band $cf 1 }}
{{ $   := . }}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ if .TitleBar }}{{ .T .TitleBar }} - {{ end }}Kurikku</title>

    <link rel="stylesheet" type="text/css" href="/static/{{ if $ds }}dark/{{ end }}semantic.min.css?{{ unixNano }}">
    <link rel="stylesheet" type="text/css" href="/static/ripple.css?{{ unixNano }}">
    <link rel="stylesheet" type="text/css" href="/static/jquery.lsxemojipicker.css?{{ unixNano }}">
    <!-- KotRik epic react script -->
    <link href="/static/react/css/main.d20dcfbe.chunk.css" rel="stylesheet">

    <meta name="theme-color" content="#4C4C4C">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Kurikku">
    <meta name="description" content="You look new here. Allow us to introduce you to what Kurikku is. Kurikku is a osu! private server. We have free osu!Direct, beatmap listing and searching, clans and more! Have fun on Kurikku!"/>
    <meta name="keywords" content="osu, osu private server, osu server, kurikku, osu!, private, server, osu приватный сервер, приватный сервер, катори, ripple">
    <meta name="author" content="KotRik">
    <meta name="robots" content="index,follow">

    <!-- Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Kurikku">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="apple-touch-icon" href="https://kurikku.pw/static/logos/logo256.png">

    <!-- OpenGraph -->
    <meta property="og:title" content="Kurikku">
    <meta property="og:image" content="https://kurikku.pw/static/logos/logo256.png">
    <meta property="og:description" content="another cool private server for osu!game">

    <meta property="og:url" content="https://kurikku.pw/static/logos/logo256.png">
    <meta property="og:type" content="website"/>

    <!-- Twitter -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="another cool private server for osu!game"/>
    <meta name="twitter:title" content="Kurikku"/>
    <meta name="twitter:image" content="https://kurikku.pw/static/logos/logo256.png"/>

    <!-- Windows 8 -->
    <meta name="msapplication-TileImage" content="https://kurikku.pw/static/logos/logo256.png">
    <meta name="msapplication-TileColor" content="#4C4C4C">

    <!-- Microdata -->
    <script type="application/ld+json">
			{
			  "@context": "http://schema.org",
			  "@type": "Organization",
			  "url": "https://kurikku.pw/",
			  "logo": "https://kurikku.pw/static/logos/logo256.png",
			  "description": "Kurikku - another cool private server for osu!game",
			  "potentialAction": {
			    "@type": "SearchAction",
			    "target": "https://kurikku.pw/u/{search_term_string}",
			    "query-input": "required name=search_term_string"
			  }
			}

    </script>
</head>
<body {{ if $ds }} class="ds"{{ end }}>
{{/*
			If we're asked to disable the hugeheading, but a KyutGrill is set, it will become the background of the page.
			This is mainly used in user profiles, allowing users to set their profile background.
			If we're asked to disable the hugeheading, and a KyutGrill is not set, navbar has the `dropped` class.
		*/}}

<div class="ui full height main wrapper"
{{ if and .KyutGrillAbsolute .KyutGrill }}
     style="background-image: url('{{ if .KyutGrillAbsolute }}{{ .KyutGrill }}{{ else }}/static/headers/{{ .KyutGrill }}{{ end }}');"
{{ else if .SolidColour }}
     style="background-color: {{ .SolidColour }}"
{{ end }}>

{{ template "navbar" . }}
 {{ if not .DisableHH }}
    <div class="ui container">
        <div class="huge heading {{ if $.HeadingOnRight }}right{{ end }} dropped"
            style="background-image: url('{{ if .KyutGrillAbsolute }}{{ .KyutGrill }}{{ else }}/static/headers/{{ or .KyutGrill "default.jpg" }}{{ end }}');">
            <div class="ui container full-height">
                <h1>{{ if .HeadingTitle }}{{ .T .HeadingTitle | html }}{{ else }}{{ .T .TitleBar }}{{ end }}</h1>
            </div>
        </div>
    </div>
{{ end }}

    <div class="container-pd">
        <div class="ui margined container" id="messages-container">
            <noscript>Research has proven this website works probably more than 7% better if you have JavaScript
                enabled.
            </noscript>
        {{ if and .Context.User.Username (not (has .Context.User.Privileges 1)) }}
            <div class="ui warning message">
            {{ $.T "Your account is currently in restricted mode. You will not be able to perform certain actions, and your profile can only be seen by you and by Kurikku's staff. If you believe this was a mistake, or a month has passed since you first saw this, then you can send an appeal to <a href=mailto:support@kurikku.pw>support@kurikku.pw</a>." | html }}
            </div>
        {{ end }}
        {{ if and .Context.User.Username (not (has .Context.User.Privileges 2)) }}
            <div class="ui warning message">
            {{ $.T "Your account is hidden. You will not be able to perform certain actions, and your profile can only be seen by you and by Kurikku's staff." | html }}
            </div>
        {{ end }}
        {{ if .Messages }}
        {{ range $i, $v := .Messages }}
            <div class="ui {{ $v.Type }} message">
                <i class="close icon"></i>
            {{ html $v.Content }}
            </div>
        {{ end }}
        {{ end }}
        {{ $settings := systemSettings "website_maintenance" "game_maintenance" "website_global_alert" }}
        {{ with $settings.website_global_alert.String }}
            <div class="ui warning message">
            {{ . | html }}
            </div>
        {{ end }}
        {{ with $settings.game_maintenance.Int }}
            <div class="ui warning message">
            {{ $.T "Kurikku's score submission is currently in maintenance mode. You will not be allowed to submit scores for the time being." }}
            </div>
        {{ end }}
        {{ with $settings.website_maintenance.Int }}
            <div class="ui warning message">
            {{ $.T "Kurikku's website is currently in maintenance mode. Only certain users are allowed to access the full website." }}
            </div>
        {{ end }}

        </div>
 	   {{ template "tpl" . }}

	</div>

	{{ if isBday 1 }}
            <canvas id="confeti" style="position: absolute; top: 0; left: 0; z-index: -2; width: 100%; height: 100%" width="100%" height="100%"></canvas>
            <script src="/static/bday.js"></script>
	    <script>
		window.dispatchEvent(new Event('resize'));
	    </script>
	{{ end }}

</div>

<div class="footer">
    <center class="ui container center">
    {{ .T "&copy; %d Ripple, osu!Kurikku, using Hanayo %s." (curryear) (version) | html }}
        <a href="/team" title="{{ .T "Who is working on this thing?" }}"><i class="users icon"></i>{{ .T "Team" }}</a> |
        <a href="https://twitter.com/osukurikku"><i class="twitter icon"></i>{{ .T "Twitter" }}</a> |
	<a href="https://github.com/osukurikku"><i class="git square icon"></i>{{ .T "GitHub" }}</a> |
        <a href="http://status.kurikku.pw"><i class="signal icon"></i>{{ .T "Status" }}</a> |
        <div class="ui scrolling dropdown" style="margin-left: 5px;" id="language-selector">
        {{ $lang := .Context.Language }}
        {{ with $lang }}
        {{ $info := languageInformationByNameShort . }}
            <div class="text"><img src="https://s.kurikku.pw/flags/{{ ToUpper $info.CountryShort }}.png" alt="{{ ToUpper $info.CountryShort }} flag" class="ui tiny image kr-flag"></img>{{ $info.Name }}</div>
        {{ else }}
            <div class="default text">{{ .T "Language" }}</div>
        {{ end }}
            <i class="dropdown icon"></i>
            <div class="menu">
            {{ range languageInformation }}
                <div class="{{ if eq .NameShort $lang }}selected {{ end }}item" data-lang="{{ .NameShort }}"><img src="https://s.kurikku.pw/flags/{{ ToUpper .CountryShort }}.png" alt="{{ ToUpper .CountryShort }} flag" class="ui tiny image kr-flag"></img>{{ .Name }}</div>
            {{ end }}
            </div>
        </div>
    </center>
</div>
<script>
    var hanayoConf = {
        avatars:   {{ .Conf.AvatarURL }},
        banchoAPI: {{ .Conf.BanchoAPI }},
        baseAPI:   {{ .Conf.BaseAPIPublic }},
        language:  {{ with $lang }}{{ . }}{{ else }}"en"{{ end }},
    };
</script>
<!-- Yandex.Metrika counter --> <script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://cdn.jsdelivr.net/npm/yandex-metrica-watch/tag.js", "ym"); ym(55402876, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true }); </script> <!-- /Yandex.Metrika counter -->
{{/* If we got some more scripts to print, print'em */}}
<script src="//twemoji.maxcdn.com/2/twemoji.min.js?2.2"></script>
<script src="/static/dist.min.js?{{ unixNano }}"></script>
{{ with $lang }}
<script src="/static/timeago-locale/jquery.timeago.{{ . }}.js"></script>
<script src="//twemoji.maxcdn.com/2/twemoji.min.js?2.2"></script>
{{ end }}
{{ if .Scripts }}
{{ range .Scripts }}
<script src="{{ . }}?{{ unixNano }}"></script>
{{ end }}
{{ end }}
</body>
</html>
{{ end }}
