{{/*###
NoCompile=true
*/}}
{{ define "clanMembers" }}
    {{ with . }}
        <div class="ui segments">
            <style>
                .kr-flag {
                    vertical-align: -3.4px!important;
                } 
            </style>
            {{ $teamJSON := teamJSON }}
            {{ range .members }}
                {{ if ne (int .id) 999 }}
                    {{ $tj := index $teamJSON (print .id)}}
                    <div class="ui segment">
                        <div class="ui grid">
                            <div class="two wide column">
                                <img class="ui mini rounded image" src="{{ config "AvatarURL" }}/{{ .id }}" alt="Avatar">
                            </div>
                            <div class="fourteen wide column" style="display: flex;flex-direction: column; align-items: start;justify-content: center;">
                                <a class="header" href="/u/{{ .id }}">{{ country .country false }}{{ .username }}</a>
                            </div>
                        </div>
                    </div>
                {{ end }}
            {{ end }}
        </div>
    {{ end }}
{{ end }}

