{{/*###
Handler=/dev
TitleBar=cmyui
KyutGrill=changelog.jpg
*/}}
{{ define "tpl" }}
<div class="ui container">
	<div class="ui segments">
		<div class="ui segment">
			<p>
				{{ .T "Hi! I'm cmyui. An 18 year old Canadian student, who somehow set up an osu! private server (or 2)... Oh yea did i mention?" }}
			</p>
		</div>
     <div class="btcwdgt-chart"></div>
     <script>
  (function(b,i,t,C,O,I,N) {
    window.addEventListener('load',function() {
      if(b.getElementById(C))return;
      I=b.createElement(i),N=b.getElementsByTagName(i)[0];
      I.src=t;I.id=C;N.parentNode.insertBefore(I, N);
    },false)
  })(document,'script','https://widgets.bitcoin.com/widget.js','btcwdgt');
</script>
</script>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	<div class="ui centered error message">
		{{ .T "<b class='big text'>There is no email verification" | html }}
	</div>
	</div>
</div>
{{ end }}
