{{/*###
Handler=/help
TitleBar=Contact support
KyutGrill=help.jpg
*/}}
{{ define "tpl" }}
<div class="ui container">
	<div class="ui segments">
		<div class="ui segment">
			<p>
				{{ .T "If you need to get in touch with our support team (our Community Managers), you will need to either send an email to our support email address, or join our <a href='https://discord.gg/5cBtMPW'>Discord Server</a>. You can compose an email to it by clicking the button at the bottom of this page. <b>Please read the following</b> though, as it is important." | html }}
			</p>
			<p>
				{{ .T "The support email <b>is not meant for technical support</b>. If you need technical support, then please join our <a href='https://discord.gg/5cBtMPW'>Discord Server</a>, and ask your question on the <b>#help channel</b>. You should also join the Discord server and ask a CM if you have any informal inquiry that you may have." | html }}
			</p>
			<p>
				{{ .T "When contacting the support mail, please make sure to <b>send the email from the email address you signed up on Kurikku with</b>." | html }}
			</p>
			<a href="https://discord.gg/5cBtMPW" class="ui purple labeled icon button">
				<i class="microphone icon"></i>
				{{ .T "OUR DISCORD" }}
			</a>
		</div>
		<div class="ui segment">
			<div class="ui container">
				<form action="mailto:support@kurikku.pw" method="post" enctype="text/plain">
					<div class="ui form">
						<div class="field">
							<label>{{ .T "Full Name" }}</label>
							<input name="name" type="text">
						</div>
						<div class="field">
							<label>{{ .T "E-Mail" }}</label>
							<input name="email" type="text">
						</div>
						<div class="field">
							<label>{{ .T "Subject" }}</label>
							<input name="subject" type="text">
						</div>
						<div class="field">
							<label>{{ .T "Text" }}</label>
							<textarea name="comment"></textarea>
						</div>
					</div>		
					<button type="submit" class="ui primary button">
						{{ .T "Send" }}
					</button>		
				</form>
			</div>
		</div>
	</div>
</div>
{{ end }}
