{{ define "tpl" }}
<div class="ui container">
    {{ if .UserID }}
    {{ $gqm := atoi (.Gin.Query "mode") }}
    {{ $global := . }}
    {{ $sAccounts := socialAccounts .UserID }}
    {{ with (.Get "users/full?id=%d" .UserID) }}
    {{ $user := . }}
    {{ $favouritemode := _or $gqm .favourite_mode }}
    <script>
        window.favouriteMode = {{ $favouritemode }};
        window.userID = '{{ .id }}';
    </script>
    {{ if after .silence_info.end }}
        <div class="ui error centered message">{{ $global.T "User is <b>silenced</b> for %s, expires %s." (.silence_info.reason | htmlescaper) (time .silence_info.end) | html }}</div>
    {{ end }}

    {{ $kotrik := has .id 1000 }}
    {{ $crystal := has .id 999 }}

    {{ $super := has .privileges 7340031 }}
    {{ $dev := has .privileges 3129343 }}
    {{ $admin := has .privileges 982527 }}
    {{ $chatmod := has .privileges 786767 }}
    {{ $bat := has .privileges 271 }}
    {{ $rmod := has .privileges 255 }}
    {{ $user_id := .UserID}}

    {{ if hasAdmin $global.Context.User.Privileges }}
        {{ $restr := not (has .privileges 1) }}
        {{ $disab := not (has .privileges 2) }}
        {{ $pend := has .privileges 1048576 }}
        

        {{ if and $disab $restr }}
        {{ if $pend }}
        <div class="ui warning centered message">{{ $global.T "User is <b>%s</b>" "pending verification" | html }}.</div>
        {{ else }}
        <div class="ui error centered message">{{ $global.T "User is <b>%s</b>" "banned" | html }}.</div>
        {{ end }}
        {{ else if $restr }}
        <div class="ui error centered message">{{ $global.T "User is <b>%s</b>" "restricted/disabled (Ask kotrik if don't know ;d)" | html }}.</div>
        {{ else if $disab }}
        <div class="ui error centered message">{{ $global.T "User is <b>%s</b>" "locked" | html }}.</div>
        {{ end }}
    {{ end }}

    <div class="ui stackable column grid">
        <div class="sixteen wide column kpw--zero">
            <div class="ui segment kpw--profile--segment">
                <div class="">
                    <div class="kpw--profile--bg"
                        {{ if and $.ProfileGrillAbsolute $.ProfileGrill }}     
                            style="background-image: url('{{ if $.ProfileGrillAbsolute }}{{ $.ProfileGrill }}{{ else }}/static/headers/{{ $.ProfileGrill }}{{ end }}');"
                        {{ else if $.SolidColour }}
                            style="background-color: {{ $.ProfileColour }}; width: 100%;"
                        {{ else }}
                            style="background-image: url('https://s.kurikku.pw/profile-covers/c{{ randInt 1 8 }}.jpg');"
                        {{ end }}>
                    </div>
                    
                    <div class="kpw--profile--flex">
                        {{ if eq $global.UserID $global.Context.User.ID }}
                            <a href="/settings/avatar">
                        {{ end }}
                            <img src="{{ config "AvatarURL" }}/{{ .id }}" alt="avatar" class="rounded-avatar kpw--profile--avatar">
                        {{ if eq $global.UserID $global.Context.User.ID }}
                            </a>
                        {{ end }}
            
                        <div class="kpw--info--block">
                            <h1 class="ui header">
                                <p class="ranks">
                                    {{ if $.UserStyle }}
                                        <a class="clan" href="/c/{{ .clan.id }}?mode=0">{{ .clan.tag }} </a> <span class="bgf" style="{{ $.UserStyle | attrCSS }}">{{ .username }}</span>
                                    {{ else if $super }}
                                        <a class="clan" href="/c/{{ .clan.id }}?mode=0">{{ .clan.tag }} </a> <span class="owner bgf">{{ .username }}</span>
                                    {{else if $dev}}
                                        <a class="clan" href="/c/{{ .clan.id }}?mode=0">{{ .clan.tag }} </a> <span class="dev bgf">{{ .username }}</span>
                                    {{ else }}
                                        <a class="clan" href="/c/{{ .clan.id }}?mode=0">{{ .clan.tag }} </a> <span class="bgf">{{ .username }}</span>
                                    {{ end }}
                                    {{ range $k, $v := (slice .std .taiko .ctb .mania) }}
                                        <span class="rank" data-mode="{{ $k }}" {{ if ne $k (int $favouritemode) }} hidden{{ end }}>{{ with and $v $v.global_leaderboard_rank }}(#{{ . }}){{ else }}{{ $global.T "Unknown" }}{{ end }}</span>
                                    {{ end }}                                    

                                    
                                    {{ if and (not .badges) (not .custom_badge) }}
                                    {{ else }}        
                                        {{ range .badges }}
                                            {{ if .icon }}
                                                <span class="" data-tooltip="{{ .name }}" data-inverted="">
                                                    <span class="twemoji twemojiBadge">{{ .icon }}</span>
                                                </span>
                                            {{ end }}
                                        {{ end }}
                                        {{ with .custom_badge }}
                                            {{ if .icon }}
                                                <span class="" data-tooltip="{{ .name }}" data-inverted="">
                                                    <span class="twemoji twemojiBadge">{{ .icon }}</span>
                                                </span>
                                            {{ end }}
                                        {{ end }}
                                    {{ end }}
                                </p>
                            </h1>
                            {{ if .username_aka }}
                            <div class="subtitle">
                                {{ $global.T "(aka <b>%s</b>)" (.username_aka | htmlescaper) | html }}
                            </div>
                            {{ end }}
                            {{ with bget "isOnline?id=%.0f" .id }}
                            <div class="subtitle">
                                <i class="{{ if .result }}green{{ else }}grey{{ end }} circle icon"></i>
                                {{ if .result }}{{ $global.T "Online" }}{{ else }}{{ $global.T "Offline" }}{{ end }} (
                                <b>{{ with $.Get "users/subscount?userid=%d" $.UserID }} {{ .subscount }} {{ end }}</b>
                                {{ $global.T "subs count" }})
            
                            </div>
                            {{ end }}

                        </div>
                        
                        <div class="kpw--profile--actions">
                            <div id="profile-actions" class="kpw--profile--pactions">
                                {{ if and (ne $global.Context.User.ID $global.UserID) (ne $global.Context.User.ID 0) }}
                                <button class="ui circular mini icon loading button" id="add-friend-button">
                                    <i class="horizontal ellipsis icon"></i>
                                </button>
                                {{ end }}
                                {{ if eq $global.Context.User.ID $global.UserID }}
                                <a href="/settings" class="ui circular mini teal icon button">
                                    <i class="edit icon"></i>
                                </a>
                                {{ else }}
                                    {{ if $global.Context.User.ID }}
                                        <a href="/u/{{ $global.UserID }}/report" class="ui circular mini orange icon button">
                                            <i class="flag icon"></i>
                                        </a>
                                    {{ end }}
                                {{ end }}
                                {{ if hasAdmin $global.Context.User.Privileges }}
                                <a href="http://oadmin.kurikku.pw/index.php?p=103&id={{ $global.UserID }}" target="_blank"
                                    title="Quick edit user" class="ui circular mini red icon button">
                                    <i class="folder open outline icon"></i>
                                </a>
                                <a href="http://oadmin.kurikku.pw/index.php?p=104&id={{ $global.UserID }}" target="_blank"
                                    title="Quick edit username" class="ui circular mini red icon button">
                                    <i class="address book outline icon"></i>
                                </a>
                                {{ end }}
                            </div>


                        
                            {{ range $sAccounts }}
                                <div class="center aligned sixteen wide column ">
                                    {{ if eq .AccountType "vk" }}
                                    <a href="https://vk.com/id{{ .AccountID }}" class="ui blue button saccount">
                                        {{ $.T "VK" }} 
                                    {{ else if eq .AccountType "twitch" }}
                                    <a href="https://twitch.tv/{{ .AccountID }}" class="ui purple button saccount">
                                        {{ $.T "Twitch" }} 
                                    {{ end }}
                                    </a>
                                </div>
                            {{ end }}
                        </div>


                    </div>
                        
                </div>
            </div>
        </div>

        <div class="five wide column">
            <div class="ui segment">
                <div class="ui sixteen stackable grid">
                    <div class="sixteen wide column">
                        {{if $super }}
                            {{ $global.T "<b>%s</b> " .username | html }}
                            is an <i class="red code small icon"></i><b>Owner</b>
                            {{ $global.T " from <b>%s</b>." (country .country true) | html }}
                        {{else if $dev}}
                            {{ $global.T "<b>%s</b> " .username | html }}
                            is a <i class="blue code small icon"></i><b>Developer</b>
                            {{ $global.T " from <b>%s</b>." (country .country true) | html }}
                        {{else if $admin}}
                            {{ $global.T "<b>%s</b> " .username | html }}
                            is an <i class="red lightning small icon"></i><b>Community Manager</b>
                            {{ $global.T " from <b>%s</b>." (country .country true) | html }}
                        {{else if $chatmod}}
                            {{ $global.T "<b>%s</b> " .username | html }}
                            is a <i class="purple star small icon"></i><b>Chat Mod</b>
                            {{ $global.T " from <b>%s</b>." (country .country true) | html }}
                        {{else if $bat}}
                            {{ $global.T "<b>%s</b> " .username | html }}
                            is a <i class="orange music small icon"></i><b>BAT</b>
                            {{ $global.T " from <b>%s</b>." (country .country true) | html }}
                        {{else if $rmod}}
                            {{ $global.T "<b>%s</b> " .username | html }}
                            is a <i class="green star small icon"></i><b>Replay Moderator</b>
                            {{ $global.T " from <b>%s</b>." (country .country true) | html }}
                        {{ else }}
                            {{ $global.T "<b>%s</b> is a player from <b>%s</b>." .username (country .country true) | html }}
                        {{ end }}
                        <br>{{ $global.T "They registered %s." (time $user.registered_on) | html }}
                        <br>{{ $global.T "Last seen: %s." (time $user.latest_activity) | html }}
                        <br>{{ with playstyle .play_style $global }}{{ $global.T "They play with %s." . }}{{ end }}
                        <br>
                    </div>

                    <div class="sixteen wide column" id="maininfo">
                        {{ range $k, $v := (slice .std .taiko .ctb .mania) }}
                        <div data-mode="{{ $k }}" {{ if ne $k (int $favouritemode) }} hidden{{ end }}>
                            <table class="ui very basic two column compact table nopad">
                                <tbody>                                   

                                    {{ with .global_leaderboard_rank }}
                                    <tr>
                                        <td><b>{{ $global.T "Global rank" }}</b></td>
                                        <td class="right aligned">#{{ . }}</td>
                                    </tr>
                                    {{ end }}
                                    {{ with .country_leaderboard_rank }}
                                    <tr>
                                        <td><b>{{ $global.T "Country rank" }} &nbsp;{{ country $user.country false }}</b></td>
                                        <td class="right aligned">#{{ . }}</td>
                                    </tr>
                                    {{ end }}
                                    <tr>
                                        <td><b>{{ $global.T "Clan" }}</b></td>
                                        <td class="right aligned"><a href="/c/{{ $user.clan.id }}?mode={{ $k }}">{{ $user.clan.name }}</a></td>
                                    </tr>
                                    <tr>
                                        <td><b>{{ $global.T "PP" }}</b></td>
                                        <td class="right aligned">{{ humanize .pp }}</td>
                                    </tr>
                                    <tr>
                                        <td><b>{{ $global.T "Ranked score" }}</b></td>
                                        <td class="right aligned">{{ humanize .ranked_score }}</td>
                                    </tr>
                                    <tr>
                                        <td><b>{{ $global.T "Total score" }}</b></td>
                                        <td class="right aligned">{{ humanize .total_score }}</td>
                                    </tr>
                                    <tr>
                                        <td><b>{{ $global.T "Playcount" }}</b></td>
                                        <td class="right aligned">{{ humanize .playcount }}</td>
                                    </tr>
                                    <tr>
                                        <td><b>{{ $global.T "Replays watched" }}</b></td>
                                        <td class="right aligned">{{ humanize .replays_watched }}</td>
                                    </tr>
                                    <tr>
                                        <td><b>{{ $global.T "Total hits" }}</b></td>
                                        <td class="right aligned">{{ humanize .total_hits }}</td>
                                    </tr>
                                    <tr>
                                        <td><b>{{ $global.T "Accuracy" }}</b></td>
                                        <td class="right aligned">{{ printf "%.2f" .accuracy }}%</td>
                                    </tr>
                                    <tr>
                                        <td><img class="kpw--profile--stats--rank" alt="Ranks SS+" src="/static/ranking-icons/SSHD.png"></td>
                                        <td class="right aligned" id="SSHDranks">0</td>
                                    </tr>
                                    <tr>
                                        <td><img class="kpw--profile--stats--rank" alt="Rank SS" src="/static/ranking-icons/SS.png"></td>
                                        <td class="right aligned" id="SSranks">0</td>
                                    </tr>
                                    <tr>
                                        <td><img class="kpw--profile--stats--rank" alt="Rank S+" src="/static/ranking-icons/SHD.png"></td>
                                        <td class="right aligned" id="SHDranks">0</td>
                                    </tr>
                                    <tr>
                                        <td><img class="kpw--profile--stats--rank" alt="Rank S" src="/static/ranking-icons/S.png"></td>
                                        <td class="right aligned" id="Sranks">0</td>
                                    </tr>
                                    <tr>
                                        <td><img class="kpw--profile--stats--rank" alt="Rank A" src="/static/ranking-icons/A.png"></td>
                                        <td class="right aligned" id="Aranks">0</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="ui blue progress little margin top" data-percent="{{ levelPercent .level }}">
                                <div class="bar">
                                    <div class="progress">{{ levelPercent .level }}%</div>
                                </div>
                                <div class="label">{{ $global.T "Level %s" (level .level) }}</div>
                            </div>
                        </div>
                        {{ end }}
                    </div>

                    
                </div>
                
            </div> <!-- end grid segment -->

            <div class="sixteen wide column ui segment" id="most-played-bms">
                <h4>{{ $global.T "Most ranked scores"}}</h4>

                {{ range _range 4 }}
                    <div data-mode="{{ . }}" {{ if ne . (int $favouritemode) }} hidden{{ end }} data-loaded="0">
                    </div>
                {{ end }}      
            </div>
            
        </div>

        <div class="eleven wide column">
            {{ $images := getImageBadges $.UserID }}
            {{ range $images }}
                <div class="eleven wide column">
                    <img src="{{ . }}" class="proto-pic" alt="img pic"/>
                </div>
            {{ end }}

            {{ with $global.Get "users/userpage?id=%.0f" .id }}
            {{ if .userpage }}
            {{ with parseUserpage .userpage }}
            <div class="ui raised segment twemoji" id="userpage-content">
                {{ html . }}
            </div>
            {{ end }}
            {{ end }}
            {{ end }}
            
            <div class="ui four item bottom attached menu" id="mode-menu">
                {{ range $k, $v := modes }}
                <a class="{{ favMode $favouritemode $k }}item" data-mode="{{ $k }}" href="/u/{{ $user.id }}?mode={{ $k }}">{{ $v }}</a>
                {{ end }}
            </div>
            
            <div id="graph1" class="ui raised segment">
                {{ range _range 4 }}
                    <div data-mode="{{ . }}" {{ if ne . (int $favouritemode) }} hidden{{ end }} data-loaded="0">
                        <svg style="height: 250px; width: 100%">
                        </svg>
                    </div>
                {{ end }}
            </div>
            
            <div id="recent-activity">
                {{ range _range 4 }}
                    <div data-mode="{{ . }}" {{ if ne . (int $favouritemode) }} hidden{{ end }} data-loaded="0">
                    </div>
                {{ end }}
            </div>

            <!--<div class="ui segment">
                <h2 class="ui header">{{ $global.T "Achievements" }}</h2>
                <div id="achievements" class="ui grid">
                </div>
                <div class="right aligned">
                    <button class="ui disabled button" id="load-more-achievements">
                        {{ $global.T "Load more" }}
                    </button>
                </div>
            </div> -->
            
            <div class="ui raised segment" id="skills" style="display: none;">
                <h2>{{ $global.T "Skills" }}</h2>
                {{ range $k, $v := $user.std_skills }}
                    <div class="contBar">
                        <p>{{ $global.T $v.name }}</p>
                        <div class="leftInfo">
                            <div class="left">
                                <p>{{ $global.T "%s" ($.ConvertFl64ToInt $v.value) }}</p>
                            </div>

                            <div class="ui {{ $v.color }} progress">
                                <div id="tenacity" class="bar" style="width: {{ $v.perc }}%">
                                </div>
                            </div>
                        </div>
                    </div>
                {{ end }}
            </div>

            <div class="ui top center centered attached segment overflow auto">
                <div class="ui breadcrumb">
                    <a class="section kr-tab" data-tab="scores-zone">scores</a>
                    <div class="divider"> /</div>
                    <a class="section kr-tab" data-tab="top-scores-zone">first places</a>
                </div>
            </div><br/>

            <div class="ui tab active" id="scores-zone" data-tab="scores-zone">
                {{ range _range 4 }}
                <div data-mode="{{ . }}" {{ if ne . (int $favouritemode) }} hidden{{ end }} data-loaded="0">
                </div>
                {{ end }}
            </div>
            <div class="ui tab" id="top-scores-zone" data-tab="top-scores-zone">
                {{ range _range 4 }}
                <div data-mode="{{ . }}" {{ if ne . (int $favouritemode) }} hidden{{ end }} data-loaded="0">
                </div>
                {{ end }}
            </div>
            <div class="ui modal">
                <i class="close icon"></i>
                <div class="content">
                    <div id="scores-header" class="kr score-info">
                        <a></a>
                    </div>
                    <div class="ui stackable grid" id="scores-body"></div>
                </div>
            </div>
            <script>
                var playTimes = [{{ range $k, $v := (slice .std .taiko .ctb .mania) }}
                        {{ $v.playtime }},
                    {{ end }}]
            </script>`
        
            {{ end }}
        </div>
    </div>
    {{ end }}
    <script src="/static/d3.v3.min.js"></script>
    <script src="/static/nv.d3.js"></script>
    <!--  Hey! If you want use this version of profile writed by KotRik(kurikku). Please say thanks him and add in team in "special thanks".  -->
</div>
{{ end }}
