{{/*###
Handler=/donate
TitleBar=Support Kotorikku
KyutGrill=fundmyautism.jpg
AdditionalJS=https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/9.0.0/nouislider.min.js
*/}}
{{ define "tpl" }}
{{ $global := .Context }}
{{ $ := $ }}
<link href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/9.0.0/nouislider.min.css" rel="stylesheet"
      type="text/css">
<div class="ui container">
{{ $ief := ieForm .Gin }}
{{ with .Get "users/self/donor_info" }}
{{ if .has_donor }}
    <div class="ui segment">
        <h1 class="ui center aligned header no bottom margin" style="margin: 0 auto; display: table;">
            <i class="red heart icon" style="font-size: 90%;"></i>
            <div class="content">{{ $.T "You are a donor!" }}</div>
        </h1>
        <div class="ui centered subtitle" style="font-size:1.2rem;">
        {{ $.T "Your donor expires <b>%s</b>. No need to feel guilty for not having donated!" (time .expiration) | html }}
            &lt;3
        </div>
    </div>
{{ end }}
    <div class="ui segments">
        <div class="ui segment">
            <h2 class="ui header">
            {{ $.T "Did you know?" }}
                <div class="sub header">
                {{ if .has_donor }}{{ $.T "(Probably.)" }}{{ else }}{{ $.T "(Probably not.)" }}{{ end }}
                </div>
            </h2>
        </div>
        <div class="ui segment">
            <h3 class="ui header no top margin">
                <i class="money icon"></i>
                <div class="content">{{ $.T "Kotorikku is not cheap to run." }}</div>
            </h3>
            <blockquote>
            {{ $.T "While we provide this service for free, we still have to pay for it, and if we always took the money out of our own pockets, 1. we would be broke, 2. we wouldn't be able to upgrade our hardware to accomodate our users. While we do have loads of software optimisations that allow us to have Kotorikku run crazy fast while still being on not so high-end hardware, the more users we have, the higher-end our hardware needs to be. So we are asking you for help on this :)." }}
            </blockquote>
            <h3 class="ui header">
                <i class="book icon"></i>
                <div class="content">{{ $.T "We are still students." }}</div>
            </h3>
            <blockquote>
            {{ $.T "Kotorikku developers, and most of the Kotorikku staff, do not have a day job. This means that we get most of our income as students from doing small jobs as \"freelancers\" every so often, or, you know, allowance." }}
            </blockquote>
            <h3 class="ui header">
                <i class="mouse pointer icon"></i>
                <div class="content">{{ $.T "We do not have ads. And never will." }}</div>
            </h3>
            <blockquote>
            {{ $.T "You may have adblock enabled and have not noticed, but we don't have ads anywhere on our website. We believe ads are bad, as they can be very annoying to you and that you would rather spend a few bucks to help us rather than watch annoying ads all the time." }}
            </blockquote>
            <h3 class="ui header">
                <i class="wizard icon"></i>
                <div class="content">{{ $.T "We love picking random icons from our icon library." }}</div>
            </h3>
        </div>
    </div>
    <div class="ui segment">
        <h1 class="ui center aligned header">
        {{ $.T "So what can you do?" }}
            <div class="sub header">
            {{ if .has_donor }}{{ $.T "Well, you can give us even more money." }}{{ else }}{{ $.T "Well, you can give us even more money." }}{{ end }}
            </div>
        </h1>
        <h4 class="ui horizontal divider header">
        {{ $.T "Here's what you get:" }}
        </h4>
        <div class="ui internally celled stackable grid">
            <div class="row">
                <div class="four wide column">
                    <h3 class="ui header">{{ $.T "Yellow username" }}</h3>
                {{ $.T "Just like in osu!, you get a <b>shiny yellow username</b> in the in-game chat to show everyone you're a really cool dude who has helped us pay the server bills." | html }}
                </div>
                <div class="four wide column">
                    <h3 class="ui header">{{ $.T "Donor badge" }}</h3>
                {{ $.T "Again, just like in osu!, you will get a <b>donor badge</b> on your profile, to show everyone you're supporting us." | html }}
                </div>
                <div class="four wide column">
                    <h3 class="ui header">{{ $.T "Custom badge editor" }}</h3>
                {{ $.T "You get to be able to create your <b>own personal badge</b>, with custom text and icon, to show off on your profile! Let the world know you're an anchor. Or prank people showing a spinnin' wheel with \"Loading...\"! Up to you." | html }}
                </div>
                <div class="four wide column">
                    <h3 class="ui header">{{ $.T "Friends ranking" }}</h3>
                {{ $.T "<b>Competing with friends</b> is really cool, you can play on the leaderboard with someone more or less on your level, without getting crippling depression and RSI for not beating that pro!" | html }}
                </div>
            </div>
            <div class="row">
                <div class="four wide column">
                    <h3 class="ui header">{{ $.T "Profile background" }}</h3>
                {{ $.T "Think about <b>spicing your profile up with some eggplants</b>? Got you covered! Having donor privileges, you get to be able to change your profile background." | html }}
                </div>
                <div class="four wide column">
                    <h3 class="ui header">{{ $.T "Unlimited Name Changes" }}</h3>
                {{ $.T "<b>Tired of your current identity?</b> Now you can have as many as you want! Just ask an administrator to change your name, as many times as you'd like." | html }}
                </div>
                <div class="four wide column">
                    <h3 class="ui header">{{ $.T "Unlimited Flag Changes" }}</h3>
                {{ $.T "<b>Want to appear as if you're from another country?</b> You also get as many of these as you'd like. Again, just ask an administrator." | html }}
                </div>
                <div class="four wide column">
                    <h3 class="ui header">{{ $.T "Unlimited Stats Resets" }}</h3>
                {{ $.T "Now you can also <b>start fresh</b> with unlimited stats resets! Ask an administrator and they shall perform the deed." | html }}
                </div>
            </div>
            <div class="row">
                <div class="four wide column">
                    <h3 class="ui header">{{ $.T "Viewing your subscribers" }}</h3>
                {{ $.T "Now you can watch <b>your subscribers</b>. That's way to <b>found</b> new good friends" | html }}
                </div>
                <div class="four wide column">
                    <h3 class="ui header">{{ $.T "Chance to be in top donators" }}</h3>
                {{ $.T "If you are <b>one of those who support our server the most</b>, you will be in the <b>top donators</b>. <b>Imagine</b> you are <b>on the main page</b>. That's cool)" | html }}
                </div>
            </div>
        </div>
    {{ if $global.User.ID }}
        <h4 class="ui horizontal divider header">
        {{ $.T "And this is how you pay" }}
        </h4>
        <p>
        {{ $.T "You may donate through <b>PayPal</b> (or credit/debit card linked to PayPal). Use the slider below to choose the amount of months you'd like to have the donor benefits, and the cost will be instantly calculated. The more months you purchase, the bigger the discount will be." | html }}
        </p>
        <div id="months-slider" style="margin: 0 auto; max-width: 500px"></div>
        <br>
        <div id="cost" class="centered"><b>{{ $.T "Loading..." }}</b></div>
        <br>
        <div class="ui internally celled two column center aligned stackable grid">
            <div class="column">
                <h2 class="ui header">
                    <i class="paypal icon"></i>
                {{ $.T "PayPal" }}
                </h2>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_self">
                    <input type="hidden" name="on0" value="Period">
                    <input type="hidden" name="os0" value="1 month">
                {{ range _range 24 }}
                {{ $months := plus (float .) 1 }}
                    <input type="hidden" name="option_select{{ . }}" value="{{ $months }} month{{ if . }}s{{ end }}">
                    <input type="hidden" name="option_amount{{ . }}" value="{{ calculateDonorPrice $months }}">
                {{ end }}
                    <input type="hidden" name="on1" value="Kotorikku user to give donor">
                    <input type="hidden" name="amount" value="{{ calculateDonorPrice 1 }}" id="paypal-amt">
                    <div class="ui fluid labeled action input">
                        <div class="ui label">
                        {{ $.T "User:" }}
                        </div>
                        <input name="os1" type="text" placeholder="{{ $.T "User" }}"
                               value="{{ $global.User.Username }}">
                        <button type="submit" class="ui blue button">{{ $.T "Submit" }}</button>
                    </div>
                {{ $ief }}
                    <input type="hidden" name="business" value="i@kotrik.ru">
                    <input type="hidden" name="cmd" value="_xclick">
                    <input type="hidden" name="lc" value="GB">
                    <input type="hidden" name="no_note" value="0">
                    <input type="hidden" name="currency_code" value="EUR">
                    <img alt="" border="0" src="https://www.paypalobjects.com/it_IT/i/scr/pixel.gif" width="1"
                         height="1">
                </form>
            </div>
        </div>
        <div class="ui internally celled two column center aligned stackable grid">
            <div class="column">
                <h2 class="ui header">
                    <i class="thumbs up outline icon"></i>
                {{ $.T "Yandex.Money" }}
                </h2>
                <form method="POST" action="https://money.yandex.ru/quickpay/confirm.xml">
                    <input type="hidden" name="receiver"
                           value="410016529717214">
                    <input type="hidden" name="quickpay-form"
                           value="donate">
                    <input type="hidden" name="label" value="{{ $global.User.Username }}">
                    <input type="hidden"
                           name="targets"
                           id="yandex-id"
                           value="Оплата 'донор' сроком на 1 месяц ">
                    <input type="hidden" name="sum" value="140.00" id="yandex-amt" data-type="number">
                    <input type="hidden" name="comment"
                           value="Покупка донора)">
                    <input type="hidden" name="need-fio" value="false">
                    <input type="hidden" name="need-email" value="false">
                    <input type="hidden" name="need-phone" value="false">
                    <input type="hidden" name="need-address" value="false">
                    <input type="hidden"
                           name="paymentType">
                    <input class="ui positive basic button" type="submit"
                           value="Перевести">
                </form>
            </div>
        </div>

        <h4 class="ui horizontal divider header">
        {{ $.T "I've donated, now what?" }}
        </h4>
        <p>
        <center>
        {{ $.T "Please contact KotRik directly, preferrably via discord/ingame, or if needed, via email: support@kotorikku.ru" | html }}
            <br>
        {{ $.T "Disclaimer: Donations are NON-REFUNDABLE, and do not give you special privileges other than what is listed above. You will still be treated the same as all other users."}}
        </center>
        </p>
    {{ else }}
        <div class="ui divider"></div>
        <h1 class="ui center aligned header">{{ $.T "Please log in before purchasing supporter" }}</h1>
    {{ end }}
    </div>
{{ end }}
</div>
{{ end }}
