{{/*###
Handler=/switcher
TitleBar=Kurikku Switcher
KyutGrill=changelog.jpg
*/}}
{{ define "tpl" }}
{{ $global := .Context }}
{{ $ := $ }}
<style>
    .thumb-wrap {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
    }
    .thumb-wrap iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>

<div class="ui container">
    <div class="ui segment">
        <h1 class="ui header">{{ $.T "Guide about Server Switcher!" | html }}</h1>
        <hr/>
        <p>{{ $.T "Hi! This little guide will show you how to connect on our server" | html }}</p>
        <h3 class="ui center" style="text-align: center;">{{ $.T "The first thing you need to do is download one of a switchers:" | html }}</h3>

        <div class="ui center aligned segment box-none">
            <a href="https://git.dou-mou-about.me/osukurikku/Switchers/releases" class="ui green button">
                <i class="github icon"></i> Go to Releases page
            </a>

        </div>

        <p>
            {{ $.T "Next we need to unpack one of a switchers, open, install the certificate and then press the green button <b>«Switch to Kurikku»</b>. That's all, welcome to one of most friendly private servers <b>on osu!</b>." | html }}
        </p>
    </div>

    <div class="ui segment">
        <h1 class="ui header">{{ $.T "Videoguide:" | html }}</h1>
        <center class="thumb-warp"><iframe src="https://www.youtube.com/embed/msDHAcVpGMw" gesture="media" allow="encrypted-media" allowfullscreen="" width="900" height="510" frameborder="0"></iframe></center>
    </div>
</div>
{{ end }}