{{/*###
Handler=/switcher
TitleBar=Kotorikku Switcher
KyutGrill=changelog.jpg
*/}}
{{ define "tpl" }}
{{ $global := .Context }}
{{ $ := $ }}
<style>
    .thumb-wrap {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
    }
    .thumb-wrap iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>

<div class="ui container">
    <div class="ui segment">
        <h1 class="ui header">{{ $.T "Guide about Server Switcher!" | html }}</h1>
        <hr/>
        <p>{{ $.T "Hi! This little guide will show you how to connect on our server" | html }}</p>
        <h3 class="ui center" style="text-align: center;">{{ $.T "The first thing you need to do is download one of a switchers:" | html }}</h3>

        <div class="ui center aligned segment box-none">
            <div class="ui buttons">
                <a href="/static/switcherv2.zip" class="ui green button">Ripple Style</a>
                <div class="or"></div>
                <a href="/static/switcherv1.exe" class="ui pink button">Gatari Style</a>
            </div>
        </div>

        <p>
            {{ $.T "Next we need to unpack one of a switchers, open, install the certificate and then press the green button <b>«Switch to Kotorikku»</b>. That's all, welcome to one of most frendly private servers <b>on osu!</b>." | html }}
        </p>
    </div>

    <div class="ui segment">
        <h1 class="ui header">Видеогайд:</h1>
        <center class="thumb-warp"><iframe src="https://www.youtube.com/embed/eedURSvkKn4" gesture="media" allow="encrypted-media" allowfullscreen="" width="900" height="510" frameborder="0"></iframe></center>
    </div>
</div>
{{ end }}