{{/*###
Handler=/switcher
TitleBar=Kurikku Switcher
KyutGrill=changelog.jpg
*/}}
{{ define "tpl" }}
{{ $global := .Context }}
{{ $ := $ }}
<style>
    .thumb-wrap {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
    }
    .thumb-wrap iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>

<div class="ui container">
    <div class="ui segment">
        <h1 class="ui header">{{ $.T "Guide about Server Switcher!" | html }}</h1>
        <hr/>
        <p>{{ $.T "Hi! This little guide will show you how to connect on our server" | html }}</p>

        <div class="ui center aligned segment box-none">
            <a href="https://kurikku.pw/doc/connection_through_shortcut/" class="ui green button">
                <i class="book icon"></i> Use new guide
            </a>
        </div>
    </div>
</div>
{{ end }}
