{{/*###
Handler=/team
TitleBar=Team
Include=user_group.html
KyutGrill=team2.jpg
*/}}
{{ define "tpl" }}
<div class="ui container">
	<div class="ui segments">
		<div class="ui center aligned segment">
			<h3>{{ .T "This is a list of the wonderful people who keep Kurikku up and running and deal with its community." }}</h3>
		</div>
		<div class="ui center aligned segment">
			<h1 class="ui heading">{{ .T "Owners" }}</h1>
			<p>
				{{ .T "The backbones of the server. The owners function as both the main community managers, as well as primary Developers. They work on everything from managing the team to making this page look nicer." }}
			</p>
			{{ template "userGroup" (.Get "badges/members?id=%d" 2) }}
		</div>
		<div class="ui center aligned segment">
			<h1 class="ui heading">{{ .T "Community Managers" }}</h1>
			<p>
				{{ .T "Community Managers deal with bans, silences, name changes and pretty much everything that has to do with the community." }}<br>
				{{ .T "They take care of our Discord server and reply to emails sent to <a href='mailto:support@kurikku.pw'>support@kurikku.pw</a>. Community Managers have a red name in the in-game chat." | html }}
			</p>
			{{ template "userGroup" (.Get "badges/members?id=%d" 10) }}
		</div>
		<div class="ui center aligned segment">
			<h1 class="ui heading">{{ .T "Developers" }}</h1>
			<p>
				{{ .T "Developers add new features to the server, squash bugs, keep the server up and running and take care of its maintenance." }}<br>
			</p>
			{{ template "userGroup" (.Get "badges/members?id=%d" 3) }}
		</div>
		<div class="ui center aligned segment">
			<h1 class="ui heading">{{ .T "Replay Moderators" }}</h1>
			<p>
				{{ .T "Hunters who catch and send in ban cheaters. We are proud of them." }}<br>
			</p>
			{{ template "userGroup" (.Get "badges/members?id=%d" 17) }}
		</div>
		<div class="ui center aligned segment">
			<h1 class="ui heading">{{ .T "Chat Moderators" }}</h1>
			<p>
				{{ .T "Chat moderators manage the chat to make sure The Law&trade; (the rules) is respected." | html }}
			</p>
			{{ template "userGroup" (.Get "badges/members?id=%d" 4) }}
		</div>
		<div class="ui center aligned segment">
			<h1 class="ui heading">{{ .T "BATs" }}</h1>
			<p>
				{{ .T "BATs play beatmaps in the ranking queue and decide whether they are good enough to be ranked or not." }}
			</p>
			{{ template "userGroup" (.Get "badges/members?id=%d" 5) }}
		</div>
	</div>
	<div class="ui segments">
		<div class="ui center aligned segment">
			<h1 class="ui heading">{{ .T "Special thanks" }}</h1>
			<p>{{ .T "Here's a list of people who helped with Kurikku" }}</p>
			{{ template "userGroup" (.Get "badges/members?id=%d" 6) }}
			{{ template "userGroup" (.Get "badges/members?id=%d" 24) }}
		</div>
		<div class="ui segment">
			{{ .T "Looking for how you should contact our team? Check out <a href='/help'>this page</a>." | html }}
			<ul class="ui list">
				<li>
					{{ .T "<b>Franc[e]sco/lolisamurai</b>, for <a href='https://github.com/Francesco149/oppai'>oppai</a>, used as standard pp calculator." | html }}<br>
					oppai is licensed under GPL v3. Our implementation can be found <a href="https://github.com/osukurikku/lets/src/master/pp/rippoppai.py">here</a>.
				</li>
				<li>
					{{ .T "<b>Semyon442</b>, for <a href='https://github.com/semyon422/omppc'>mania-pp</a> calculator" | html }}<br>
				</li>
				<li>
					{{ .T "<b>Sunpy</b>, for <a href='https://github.com/osufx/catch-the-pp'>catch-the-pp</a>, used as catch the beat pp calculator." | html }}<br>
					catch-the-pp is licensed under GPL v3. Our implementation can be found <a href="https://github.com/osukurikku/lets">here</a>.
				</li>
				<li>
					{{ .T "<b>jrosdahl</b>, for <a href='https://github.com/jrosdahl/miniircd'>miniircd</a>, used as a base for our IRC server." | html }}<br>
					miniircd is licensed under GPL v2. Our implementation can be found <a href="https://github.com/osukurikku/peppy/src/master/irc/ircserver.py">here</a>.
				</li>
				<li>
					{{ .T "<b>Flame</b> for clans system!" | html }}
				</li>

				<li>{{ .T "<b><a href='https://github.com/Kert/osuSkills'>Kert</a></b>, for the good library of osu!Skills" | html }} </li>
				<li>{{ .T "<b><a href='http://ripple.moe/'>Ripple</a></b>, for the software to host Kurikku" | html }}</li>
				<li>{{ .T "<b><a id='everyone' class='clickable'>Everyone</a></b> who has supported Kurikku by donating." | html }}</li>
			</ul>
		</div>
	</div>
	{{ $ := . }}
</div>
{{ end }}
