{{/*###
Handler=/solis
TitleBar=You found me?
KyutGrill=team2.jpg
*/}}
{{ define "tpl" }}
<div class="ui container">
				<div class="ui error centered message">welcome to the super secret place</div>
						<div class="ui raised segment twemoji" id="userpage-content">
							of super secrets
						</div>
	<div class="ui error centered message">and stuff</div>
				<div class="magic table floating right">
					<div class="table element">
						<div id="profile-actions">
						</div>
					</div>
				</div>
			</div>
</div>
{{ end }}
