{{ define "tpl" }}
<div class="ui container">
    {{/* Not logged in block */}}
    {{ if .Context.User.Username }}
        <div class="tiny container">
            <div class="ui raised segments">
                <div class="ui segment">
                    <div style="display: flex; width: 100%; flex-direction: row; justify-content: center; align-items: center; self-align: center;">
                        <h2 style="padding-right: 10px; padding-top: 10px;">{{ .T "You have: %x votes!" ($.Balance) | html }}</h2>
                        {{ if $.CanUserSubmit }}
                            <a href="https://topg.org/osu-private-servers/in-501468-{{ .Context.User.ID }}" class="big ui green button">{{ .T "Vote!" }}</a>
                        {{ else }}
                            <a href="https://topg.org/osu-private-servers/in-501468-{{ .Context.User.ID }}" disabled class="big ui red button">{{ .T "Vote!" }}</a>
                        {{ end }}
                    </div>
                    <hr class="ui divider">
                    <a href="/vote/exchange" class="medium ui button green">{{ .T "Exchange your votes!" }}</a>
                </div>
            </div>
        </div>
        </br>
        <div class="tiny container">
            <div class="ui raised segment">
                <h2>{{ .T "Why do we need these votes?" }}</h2>
                <hr class="ui divider">
                <h3>{{ .T "These votes help us promote the server at the <a class='ui subtitle' href='https://topg.org' alt='topg link'>TopG.org</a> monitoring site." | html }}</h3>
            </div>
        </div>
    {{ else }}
        <div class="ui segment">
            {{ .T "You need register!" }}
            <script>
                $(document).ready(function() {
                    $(location).attr('href', 'https://kurikku.pw/register');
                }
            </script>
        </div>
    {{ end }}
</div>
{{ end }}
    