{{/*###
NoCompile=true
*/}}
{{ define "userGroup" }}
{{ with . }}
	<div class="Team--container">
		{{ $teamJSON := teamJSON }}
		{{ range .members }}
			{{/* ignore fokabot */}}
			{{ if ne (int .id) 999 }}
				{{ $tj := index $teamJSON (print .id)}}
				<div class="ui segment Team--element">
					<div class="Team--left">
						<img src="{{ config "AvatarURL" }}/{{ .id }}"  alt="Avatar">
						<div class="Team--left-info">
							{{ if $tj.real_name }}
								<div>{{ country .country false }} <p><a href="/u/{{ .id }}">{{ $tj.real_name }} ({{ .username }})</a></p></div>
							{{ else }}
								<div>{{ country .country false }} <p><a href="/u/{{ .id }}">{{ .username }}</a></p></div>
							{{ end }}
							
							{{ if $tj.role }}
								<p class="subtitle">{{ $tj.role }}</p>
							{{ end }}
						</div>
					</div>
					<div class="Team--right">
						{{ if or $tj.twitter $tj.mail $tj.github $tj.vk }}
							{{ range $k, $v := $tj }}
									{{ if and $v (in $k "github" "twitter" "mail" "vk") }}
										<a href="{{ servicePrefix $k }}{{ $v }}" title="{{ capitalise $k }}">
											<i class="{{ $k }} icon"></i>
										</a>
									{{ end }}
							{{ end }}
						{{ end }}
					</div>
				</div>
			{{ end }}
		{{ end }}
	</div>
{{ end }}
{{ end }}